* {
    font-family: 'Roboto', sans-serif;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

button {
    margin: 5px;
    padding: 10px;
    border-style: none;
    background-color: rgb(255, 166, 0);
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgb(201, 130, 0);
}

.content {
    padding: 15px;
}

.content li {
    padding: 10px;
    margin-bottom: 2px;
    background-color: brown;
    color: white;
}

.content li:hover {
    background-color: rgb(126, 24, 24);
}