*{
    box-sizing: border-box;
    --red1: rgb(158, 11, 15);
    --red2: rgb(187, 19, 26);
    --red3: rgb(211, 40, 36);
    --red4: rgb(233, 78, 56);
    --red5: rgb(121, 0, 0);
}

body{
    background-color: rgb(172, 172, 172);
    font-family: "ORF ON","Arial","Helvetica","Lucida Sans Unicode","Lucida Grande","sans-serif";
    font-feature-settings: "liga", "kern";
    font-size: 20px;
}

@media(min-width:1025px){
    .site{
        padding-left: 25px;
        width: 900px;
    }
}

header{
    color: white;
}

.header1{
    background-color: var(--red1);
    font-family: "ORF ON","Arial","Helvetica","Lucida Sans Unicode","Lucida Grande","sans-serif";
    font-feature-settings: "liga", "kern";
    font-size: 0.92rem;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.header2{
    background-color: var(--red2);
    font-family: "ORF ON","Arial","Helvetica","Lucida Sans Unicode","Lucida Grande","sans-serif";
    font-feature-settings: "liga", "kern";
    display: flex;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header2-text{
    position: relative;
    top: 5px;
    font-size: 1.8rem;
}

.header-spacer1{
    background-color: var(--red3);
    height: 11px;
}
.header-spacer2{
    background-color: var(--red4);
    height: 3px;
}

.header3{
    background-color: var(--red5);
}

.navbar{
    background-color: var(--red5);
    font-family: "ORF ON","Arial","Helvetica","Lucida Sans Unicode","Lucida Grande","sans-serif";
    font-feature-settings: "liga", "kern";
    font-size: 1rem;
    color:white;
    border-style:none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    cursor: pointer;
}
.navbar li{
    padding: 5px;
}

.menu-hidden{
    display:none;
}

.menu-visible{
    background-color: var(--red2);
    display: block;
    position: absolute;
    padding: 5px;
}

button {
    padding: 0px;
    display: inline-block;
    border: none;
}

.topimage{
    max-width: 100%;
    margin-top: 10px;
}

.site-content{
    background-color: white;
}

article{
    background-color: white;
    position: relative;
    top: -50px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.thema{
    color: rgb(148, 148, 148);
    font-size: 0.8rem;
    font-weight: 550;
    padding-bottom: 20px;
}

h1{
    font-size: 2rem;
    padding-bottom: 20px;
}