body {
    text-align: center;
}

ul {
    list-style-type: none;
}

h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30pt;
}

.task {

    padding: 5px;
    margin: 1px;
    border-style: solid;
    border-width: 1px;
}

.tasktitle {
    color: yellowgreen;
    font-weight: bold;
}

.taskwho {
    color: gray;
}

#controll {
    margin-bottom: 10px;
}
